[Desktop Entry]
Icon=text-html
Name=https://www.amazon.de/PremiumCord-Netzadapter-Stromadapter-Stromkabel-Ausgangsstecker/dp/B08B6C36CH/ref=sr_1_8?adgrpid=74021361827&gclid=CjwKCAiAwomeBhBWEiwAM43YIHltO6D_wu2RifCzXkF2AvfbzBd7DUgMB2-BGK2NUd7wio1jewsyvBoCIk4QAvD_BwE&hvadid=352891674860&hvdev=c&hvlocphy=9042088&hvnetw=g&hvqmt=e&hvrand=274512810802291098&hvtargid=kwd-364757325077&hydadcr=27930_1737054&keywords=netzteil%2B48v%2Bdc&qid=1673698097&sr=8-8&th=1
Type=Link
URL[$e]=https://www.amazon.de/PremiumCord-Netzadapter-Stromadapter-Stromkabel-Ausgangsstecker/dp/B08B6C36CH/ref=sr_1_8?adgrpid=74021361827&gclid=CjwKCAiAwomeBhBWEiwAM43YIHltO6D_wu2RifCzXkF2AvfbzBd7DUgMB2-BGK2NUd7wio1jewsyvBoCIk4QAvD_BwE&hvadid=352891674860&hvdev=c&hvlocphy=9042088&hvnetw=g&hvqmt=e&hvrand=274512810802291098&hvtargid=kwd-364757325077&hydadcr=27930_1737054&keywords=netzteil%2B48v%2Bdc&qid=1673698097&sr=8-8&th=1
