[Desktop Entry]
Icon=text-html
Name=https://www.amazon.de/LM2596HV-Converter-Step-down-Powermodul-Spannungsregler-Sunlera/dp/B07MMD6M6P/ref=sr_1_5?adgrpid=71448695672&gclid=CjwKCAiAwomeBhBWEiwAM43YIKPGRnvp8Px7s8yu2C3LP9RHqf6y3ootNA6KAcvsqe5ZtjYOw6aTfBoCKdUQAvD_BwE&hvadid=606632306859&hvdev=c&hvlocphy=9042088&hvnetw=g&hvqmt=e&hvrand=11852749493223861302&hvtargid=kwd-302437316289&hydadcr=18493_2293645&keywords=48v+to+5v+dc+dc+converter&qid=1673698294&sr=8-5
Type=Link
URL[$e]=https://www.amazon.de/LM2596HV-Converter-Step-down-Powermodul-Spannungsregler-Sunlera/dp/B07MMD6M6P/ref=sr_1_5?adgrpid=71448695672&gclid=CjwKCAiAwomeBhBWEiwAM43YIKPGRnvp8Px7s8yu2C3LP9RHqf6y3ootNA6KAcvsqe5ZtjYOw6aTfBoCKdUQAvD_BwE&hvadid=606632306859&hvdev=c&hvlocphy=9042088&hvnetw=g&hvqmt=e&hvrand=11852749493223861302&hvtargid=kwd-302437316289&hydadcr=18493_2293645&keywords=48v+to+5v+dc+dc+converter&qid=1673698294&sr=8-5
